@import "../../node_modules/tailwindcss/base";

@layer base {
    html {
        @apply overflow-hidden;
        background-image: url(../../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    html,
    body {
        @apply h-full;
    }

    body {
        @apply flex justify-center items-start lg:items-center overflow-y-auto p-6
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }
}